.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-networks-link {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--transition-duration) var(--main-cubic),
    background-color var(--transition-duration) var(--main-cubic);
  &:hover {
    background-color: var(--accent-color);
    color: #ffffff;
  }
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}
.social-networks-logo {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-networks-items:not(:last-child) {
  margin-right: 10px;
}
