.examples-items {
  position: relative;
}

.examples-text {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 370px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
}
.doing {
  padding-bottom: 94px;
  @media screen and (max-width: 1199.5px) {
    display: none;
  }
}
.doing-main-head {
  text-align: center;
  margin-bottom: 42px;
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
}
.examples-items {
  flex-basis: calc(100% / 3 - 30px);
}
.examples-items:not(:last-child) {
  margin-right: 30px;
}
